.aboutContainer {
  text-align: center;
  margin-top: 40px;
}

.aboutTitle {
  margin-bottom: 30px;
  font-family: "Noto Sans", sans-serif;
}

.textbox {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
}

.aboutParagraph {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
}

.aboutImage {
  max-width: 300px;
  margin: 20px auto;
  display: block;
}

@media (max-width: 600px) {
  .aboutContainer {
    text-align: center;
    margin-top: -50px;
  }
}
