.aboutContainer {
  text-align: center;
  margin-top: 80px;
}

.aboutTitle {
  margin-bottom: 30px;
}

.textbox {
  max-width: 600px;
  margin: 0 auto;
}

.aboutParagraph {
  margin-bottom: 10px;
  font-size: 18px;
}

.aboutImage {
  max-width: 300px;
  margin: 20px auto;
  display: block;
}
