.aboutContainer {
  text-align: center;
  margin-top: 40px;
  position: relative;
  z-index: 2;
}

.aboutTitle {
  margin-bottom: 0px;
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  margin-top: 90px;
  position: relative;
  z-index: 2;
}

.textbox {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Noto Sans", sans-serif;
}

.aboutParagraph {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "Noto Sans", sans-serif;
  color: white; /* Ensures text is white */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Creates a thin black outline */
}

.aboutImage {
  max-width: 300px;
  margin: 20px auto;
  display: block;
}

@media (max-width: 600px) {
  .aboutContainer {
    text-align: center;
    margin-top: 20px;
  }

  .aboutTitle {
    margin-bottom: 0px;
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    margin-top: 0px;
  }
}
