.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.link,
.title {
  font-family: "Noto Sans", sans-serif;
  margin-right: 15px;
  font-size: 28px;
  transition: color 0.2s;
}

.link:hover,
.title:hover {
  color: #494949;
}

.titlesymbol {
  color: #5918df;
  font-size: 38px;
}

.linksymbol {
  color: #5918df;
  font-size: 28px;
}

.title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 38px;
  text-transform: lowercase;
  color: white;
}

@media (max-width: 800px) {
  .header {
    flex-direction: row; /* Keep the main axis horizontal */
    justify-content: space-between; /* Space between title and links */
    padding: 10px;
  }

  .header > div:first-child {
    /* title sep div adds */
  }

  .header > div:last-child {
    display: flex;
    flex-direction: column; /* Stack the links vertically */
    align-items: flex-end; /* Align links to the right side */
    margin-left: auto; /* Push the links container to the right */
  }

  .link,
  .title {
    font-size: 18px;
    margin-right: 0; /* Remove the margin on the right of the links */
    font-family: "Noto Sans", sans-serif;
  }

  .link:not(:last-child) {
    margin-bottom: 5px; /* Add space between stacked links */
  }

  .title {
    font-size: 28px; /* Adjusted for mobile, if needed */
  }

  .titlesymbol {
    font-size: 28px;
  }

  .linksymbol {
    /* Adjust symbol sizes if necessary */
    font-size: 18px;
  }

  .hamburger-menu {
    display: none; /* Adjust based on your design */
  }
}
