.header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.link {
  margin-right: 15px;
  font-size: 30px;
  transition: color 0.3s; /* Smooth transition for color change */
}

.link:hover {
  color: #494949; /* Gray color on hover */
}

.symbol {
  color: #5918df;
}

@media (max-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  .link {
    font-size: 18px;
    margin-right: 10px;
  }

  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 600px) {
  .hamburger-menu {
    display: block;
  }
}
