.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #000000;
}

.link,
.title {
  font-family: "Noto Sans", sans-serif;
  margin-right: 15px;
  font-size: 28px;
  transition: color 0.2s;
}

.link:hover,
.title:hover {
  color: #494949;
}

.titlesymbol {
  color: #5918df;
  font-size: 38px;
}

.linksymbol {
  color: #5918df;
  font-size: 28px;
}

.title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 38px;
  text-transform: lowercase;
  color: white;
}

.titlesymbol,
.title {
  margin-right: 8px;
}

@media (max-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  .header > div:first-child {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .header > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .link,
  .title {
    font-size: 18px;
  }

  .link:not(:last-child) {
    margin-bottom: 10px;
  }

  .title {
    font-size: 28px;
  }

  .linksymbol {
    font-size: 18px;
  }

  .titlesymbol {
    font-size: 28px;
  }

  .titlesymbol,
  .title {
    margin-right: 5px;
  }
}
