.centeredContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 72vh;
}

.signatureAnimation {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  margin-bottom: 50px;
}

.signatureVideo {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.socialIconsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -60px;
}

.socialIcon {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.socialIcon span {
  font-family: "Noto Sans", sans-serif;
  font-size: 22px;
  margin-left: 10px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .signatureAnimation {
    max-width: 100%;
    padding-bottom: 50px; /* Maintain space below the signature */
  }

  .socialIconsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px; /* Adjust this value to move icons up as needed */
    margin-bottom: 90px; /* Adjust if needed to prevent overlapping with other content */
  }

  .socialIcon {
    display: flex;
    align-items: center;
    margin-bottom: 30px; /* Space between icons */
  }

  .socialIcon span {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    margin-left: 10px;
  }
}
