.projectsContainer {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* This will create a responsive number of columns */
  gap: 20px;
  padding: 20px;
  /* If the projects container is too wide, you might want to limit its max-width */
  max-width: 1200px; /* Adjust this value to fit your design */
  margin: 0 auto; /* Center the container on the page */
}

.projectCard {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projectCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projectImage {
  width: 500px;
  height: 200px;
  object-fit: cover;
}

.projectContent {
  padding: 15px;
}

.projectPageTitle {
  margin-top: 80px; /* You have this set in your inline styles, so it should be consistent */
  margin-bottom: 30px;
  text-align: center; /* Centering the title */
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem; /* Set the font size for your title as needed */
}

.projectDescription {
  font-size: 1rem;
  color: #666;
}
