.projectsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.projectCard {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  text-transform: lowercase;
  position: relative;
  z-index: 2;
}

.projectCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.projectImage {
  width: 500px;
  height: 200px;
  object-fit: cover;
}

.projectContent {
  padding: 15px;
}

.projectPageTitle {
  margin-top: 80px;
  margin-bottom: 0px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

.projectDescription {
  font-size: 1rem;
  color: #666;
}
@media (max-width: 600px) {
  .projectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 90px;
  }

  .projectPageTitle {
    margin-top: 90px;
    margin-bottom: 8px;
    text-align: center;
    font-family: "Noto Sans", sans-serif;
    font-size: 2rem;
  }

  .projectsContainer::before {
    /* content: "";
    display: block;
    height: 80px;
    margin-top: -80px; 
    visibility: hidden;
    pointer-events: none; */
  }
}
