.resumeTitle {
  margin-top: 80px;
  margin-bottom: 0px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  color: #fff;
}

.resumeContainer {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.resumeIframe {
  border: none;
  width: 100%;
  height: 800px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .resumeContainer {
    width: 90%;
    padding: 10px;
  }

  .resumeIframe {
    height: 600px;
  }

  .resumeTitle {
    margin-bottom: 20px;
  }
}
